body {
  font-family: "Arial";
}

a {
  text-decoration: none;
  color: #0096ff;
}

.page-title{font-size:36px;}
.page-tagline{font-size: 18px;}


/*
PRODUCT CONTAINER
*/

.product-container{
  /*width:300px;*/
  border: 1px solid #aaa;
  margin-bottom: 15px;
  display:inline-block;
}

.image-container {
  position: relative;
}

.hidden {
  display: none;
}

.overlay {
  display:block;
  position:absolute;
  z-index:1;
  width: 90%;
  height: auto;
  padding: 10px;
  margin: auto;
  border:1px solid #900;
  background-color:#fff;
}

.product-container .delete-product{
  color: red;
  float: right;
}

.product-container a {
  text-decoration: none;
}

.product-container img{
  width:100%;
  height:auto;
}

.product-title{
  font-size:16px;
  font-weight: bolder;
}

.product-tagline{
  font-size:16px;
}

.product-description{
  padding:10px;
}