body {
  font-family: "Arial";
}

#body header {
  background-color: #408FC7;
  color: #FCF8E6;
}

a {
  text-decoration: none;
  color: #0096ff;
}

#body {
  background-color: #aeaeae;
}

.page-title{
  font-size: 36px;
  font-weight: bolder;
}

.page-tagline{
  text-transform: uppercase;
  font-size: 18px;
}


/*
PRODUCT CONTAINER
*/

.product-container{
  background-color: beige;
  border: 1px solid #afafaf;
  margin-bottom: 15px;
  display: inline-block;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

.overlay {
  display: block;
  position: absolute;
  z-index:1;
  width: 90%;
  height: auto;
  padding: 10px;
  margin: auto;
  border:1px solid #aeaeae;
  background-color: #286090;
  color: #fff;
}

.delete-product{
  color: red;
}

.product-container a {
  text-decoration: none;
}

.product-container .image-container img{
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 16px;
  font-weight: bolder;
  font-family: 'Georgia', 'Helvetica', sans-serif;
}

.product-tagline {
  font-size: 16px;
  font-family: 'Verdana', 'Helvetica', sans-serif;
}

.product-description{
  padding:10px;
}