@font-face{font-family:'Glyphicons Halflings';src:url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot");src:url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff2") format("woff2"),url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff") format("woff"),url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf") format("truetype"),url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab|Roboto:500|Lato:700);

#body header {
  background-color: #E6E6E6;
  color: #000000;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #0096FF;
}

#body {
  background-color: #F2F2F2;
}

.row {}
.row:before, .row:after {
  content: " ";
  display: table;
}

.page-title{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Roboto Slab', 'Helvetica', sans-serif;
}

.page-tagline{
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Lato', 'Helvetica', sans-serif;
}


/*
CARD CONTAINER
*/

.card-container {
  /*margin-right: 5px;*/
  margin-bottom: 15px;
  padding: 0;
}

/*.card-container:hover {}*/

/*
PRODUCT CONTAINER
*/

.product-container{
  background-color: #286090;
  /*border-top: 5px solid orange;*/
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: inline-block;
}

.image-container {
  /*border: 3px solid #afafaf;*/
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

.overlay {
  display: block;
  position: absolute;
  z-index:1;
  width: 100%;
  height: 100%;
  margin: auto;
  border:1px solid #fff;
  background-color: #286090;
  color: #fff;
}

.overlay p {
  padding: 20px;
  font-size: 16px;
}

.glyphicon.glyphicon-remove {
    font-size: 20px;
    color: #fff;
}

.delete-product{
  margin: 5px;
}

.delete-product:hover {
  color: red;
}

.product-container a {
  text-decoration: none;
}

.product-container .image-container img{
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Monserrat', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

.product-tagline {
  font-size: 16px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.product-description{
  padding:10px;
}
